<f:be.container
		includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/Module/lib/angular.js\')}'
						 1: '{f:uri.resource(path:\'JavaScript/Module/lib/angular-touch.min.js\')}',
						 2: '{f:uri.resource(path:\'JavaScript/Module/lib/angular-animate.min.js\')}',
						 3: '{f:uri.resource(path:\'JavaScript/Module/lib/ui-bootstrap-custom-tpls-1.3.3.min.js\')}',
						 4: '{f:uri.resource(path:\'JavaScript/Module/lib/ui-grid.min.js\')}',
						 5: '{f:uri.resource(path:\'JavaScript/Module/app.js\')}',
						 7: '{f:uri.resource(path:\'JavaScript/Module/controllers/CsSeoController.js\')}',
						 6: '{f:uri.resource(path:\'JavaScript/Module/services/previewTitleFactory.js\')}'}"
		includeCssFiles="{0: '{f:uri.resource(path:\'CSS/Lib/bootstrap/css/bootstrap.min.css\')}',
						  2: '{f:uri.resource(path:\'CSS/Lib/ui-grid/ui-grid.min.css\')}',
						  3: '{f:uri.resource(path:\'CSS/Wizard.css\')}',
						  4: '{f:uri.resource(path:\'CSS/Module.css\')}'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageMeta')}" action="pageMeta" controller="Module" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageIndex')}" action="pageIndex" controller="Module" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageOpenGraph')}" action="pageOpenGraph" controller="Module" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageTwitterCards')}" action="pageTwitterCards" controller="Module" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />
				<f:render section="Main" />
			</div>
		</div>
	</div>
</f:be.container>