<f:be.container
		includeJsFiles="{1: '{f:uri.resource(path:\'JavaScript/jquery.min.js\')}',
						2:	'{f:uri.resource(path:\'JavaScript/jquery.cookie.js\')}',
						3: '{f:uri.resource(path:\'JavaScript/jquery.cs_seo.evaluation.js\')}'}"
		includeCssFiles="{1: '{f:uri.resource(path:\'CSS/Icons.css\')}'
							2: '{f:uri.resource(path:\'CSS/Evaluation.css\')}'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:render partial="Module/ActionMenu" section="Main" />
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />
				<f:render section="Main" />
			</div>
		</div>
	</div>
</f:be.container>