<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Meter -->

<div class="csseo-char-counter__wrapper js-seo-meter"
     data-min-chars="{extConf.minTitle}"
     data-max-chars="{extConf.maxTitle}"
     data-label-status-ok="{labels.statusOk}"
     data-label-status-overflow="{labels.statusOverflow}"
     data-label-chars-missing="{labels.charsMissing}"
     data-label-chars-over="{labels.charsOver}">

    <div class="badge badge-danger js-seo-meter-message"
         aria-live="polite"
         role="status"></div>

    <div class="csseo-char-counter__hint">
        <f:translate key="wizard.recommendation.range" arguments="{minChars: extConf.minTitle, maxChars: extConf.maxTitle}" extensionName="cs_seo"/>
    </div>
</div>
