.cs-seo-results {
  border-radius: 2px;
  margin: 1em 0;
  position: relative;
  overflow: hidden;
}
.cs-seo-results .csseo-state-0 {
  background-color: #c83c3c;
}
.cs-seo-results .csseo-state-1 {
  background-color: #e8a33d;
}
.cs-seo-results .csseo-state-2 {
  background-color: #79a548;
}
.cs-seo-results .header {
  background: var(--typo3-surface-container-highest);
  padding: 10px;
  position: relative;
}
.cs-seo-results .header .text {
  margin-right: 50px;
  white-space: nowrap;
}
.cs-seo-results .header .last-update {
  padding-top: 3px;
  margin-left: 20px;
}
.cs-seo-results .score {
  border-radius: --var(--typo3-input-border-radius);
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
}
.cs-seo-results__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cs-seo-results__item {
  background: var(--typo3-surface-container-high);
  clear: both;
  margin: 0;
  padding: 10px;
}
.cs-seo-results__item:nth-child(even) {
  background: var(--typo3-surface-container-highest);
}
.cs-seo-results .detail {
  border-top: 1px solid #fff;
  margin: 10px 0 0;
  padding: 10px;
}
.cs-seo-results .bar {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.cs-seo-results .bar div {
  height: 100%;
}
.cs-seo-results .right {
  float: right;
}
.cs-seo-results .right a {
  text-decoration: none;
}
.cs-seo-results .evaluation-images img {
  height: auto;
  max-height: 200px;
  max-width: 200px;
  width: auto;
}
.cs-seo-results .cs-headingorder__list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.cs-seo-results .cs-headingorder__item {
  align-items: baseline;
  display: flex;
  gap: 10px;
  font-size: 1.4rem;
  line-height: 140%;
  margin: 0;
  padding: 0;
}
.cs-seo-results .cs-headingorder__item--level-2 {
  font-size: 1.2rem;
  padding-left: 20px;
}
.cs-seo-results .cs-headingorder__item--level-3 {
  font-size: 1rem;
  padding-left: 40px;
}
.cs-seo-results .cs-headingorder__item--level-4 {
  font-size: 0.9rem;
  padding-left: 60px;
}
.cs-seo-results .cs-headingorder__item--level-5 {
  font-size: 0.8rem;
  padding-left: 80px;
}
.cs-seo-results .cs-headingorder__item--level-6 {
  font-size: 0.7rem;
  padding-left: 100px;
}
.cs-seo-results .cs-headingorder__level {
  display: block;
  font-weight: bold;
}
.cs-seo-results .cs-headingorder__level--error {
  background-color: #c83c3c;
  color: #fff;
}
.cs-seo-results .cs-headingorder__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cs-seo-results .no-margin {
  margin: 0;
}
#cs-seo-evaluate {
  margin-top: -2px;
}
.cs-icon {
  position: relative;
  padding-left: 1.5em;
}
.cs-icon:before {
  color: #c83c3c;
  font-size: 1.2em;
}
.cs-icon.csseo-icon-state-1:before {
  color: #e8a33d;
}
.cs-icon.csseo-icon-state-2:before {
  color: #79a548;
}
.cs-wait {
  background: url('../Icons/wait.svg') rgba(0, 0, 0, 0.35) 5% 0 no-repeat;
  background-size: contain;
  font-size: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background-color: #fefefe;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #333;
  font-size: 12px;
  height: 32px;
  line-height: 1.5;
  padding: 2px 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 26px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
  width: 26px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent;
}
