.csseo-progress {
  margin-bottom: 20px;
}
.csseo-card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin: 1rem 0;
}
.csseo-card__row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.csseo-card__col {
  flex-basis: 50%;
  max-width: 50%;
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
}
@media screen and (max-width: 1200px) {
  .csseo-card__col {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .csseo-card__col--form {
    order: 10;
  }
}
.csseo-card__image {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: auto;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.csseo-card__image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.csseo-card__headline {
  margin: 0 0 20px;
}
.csseo-card__headline--center {
  text-align: center;
}
.csseo-card__form h1 {
  display: none;
}
.csseo-card__form .formengine-field-item-description {
  display: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
