<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module"/>

<f:section name="Main">
    <h1>
        <f:translate key="layouts.module.action.showEmptyImageAlt" extensionName="cs_seo"/>
    </h1>
    <f:if condition="{numberOfAllImages} && !{error}">
        <f:then>
            <div class="csseo-progress form-group">
                <f:translate key="module.file.count" extensionName="cs_seo"/>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-{f:if(condition: '{percentOfImages} == 100', then: 'success', else: 'danger')}"
                         role="progressbar"
                         aria-valuenow="{percentOfImages}" aria-valuemin="0" aria-valuemax="100" style="width: {percentOfImages}%;">{numberOfImagesWithAlt}&nbsp;/&nbsp;{numberOfAllImages}</div>
                </div>
            </div>

            <f:if condition="{image}">
                <f:then>
                    <p>
                        <f:translate key="module.file.countWithoutAlt" extensionName="cs_seo" arguments="{0:indexOfCurrentImage,1:numberOfImagesWithoutAlt}"/>
                        <f:if condition="{numberOfReferences}">
                            <br><f:translate key="module.file.numberOfReferences" extensionName="cs_seo" arguments="{0:numberOfReferences}"/>
                        </f:if>
                    </p>
                    <div class="csseo-card">
                        <div class="csseo-card__row">
                            <div class="csseo-card__col csseo-card__col--form">
                                <f:form class="csseo-card__form" action="update" name="editform" id="EditDocumentController">
                                    <f:form.hidden value="{offset}" name="offset"/>
                                    <f:form.hidden name="uid" value="{image.originalResource.uid}"/>
                                    <f:form.hidden respectSubmittedDataValue="0" name="uid" value="{image.originalResource.uid}"/>
                                    <h4 class="csseo-card__headline">Edit File Metadata "{image.originalResource.name}"</h4>
                                    {editForm -> f:format.raw()}
                                </f:form>
                            </div>
                            <div class="csseo-card__col">
                                <div class="csseo-card__image__wrapper">
                                    <f:image image="{image}" maxWidth="600" maxHeight="380" class="csseo-card__image"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <h3>
                        <f:translate key="module.file.error.no_image_without_alt"  extensionName="cs_seo"/>
                    </h3>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <h3>
                <f:if condition="{modParams.onlyReferenced}">
                    <f:then>
                        <f:translate key="module.file.error.only_referenced" extensionName="cs_seo"/>
                    </f:then>
                    <f:else>
                        <f:translate key="module.file.error.no_images" extensionName="cs_seo"/>
                    </f:else>
                </f:if>
            </h3>
        </f:else>
    </f:if>

    <f:comment><!-- needed for header buttons --></f:comment>
    <f:form action="showEmptyImageAlt" id="ModForm">
    </f:form>
</f:section>
</html>
