<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Wizard" />

<f:section name="Main">
    <f:if condition="{data}">
        <f:then>
            <h3 class="js-cs-seo-title"
                data-sitetitle="{siteTitle}"
                data-separator="{pageTitleSeparator}"
                data-first="{config.pageTitleFirst}"
                data-only="{data.pageTitleOnly}"
                data-fallback-title="{fallback.title}"
                data-fallback-table="{fallback.table}"
                data-fallback-uid="{fallback.uid}"
                data-fallback-description="{fallback.description}">
                <f:format.crop maxCharacters="66" respectWordBoundaries="0">{pageTitle}</f:format.crop>
            </h3>
            <div class="url">{f:if(condition:"{urlScheme}=='2'",then:'https://')}{domain}{f:if(condition:"{path}=='/'",then:path,else:'/{path}')}</div>
                <span class="js-cs-seo-desc"><f:format.crop maxCharacters="{extConf.maxDescription}" respectWordBoundaries="0">{data.description}</f:format.crop></span>
                <span class="js-cs-seo-hidden" style="{f:if(condition:data.description,then:'display:none;')}"><f:translate key="templates.wizard.description" extensionName="cs_seo" /></span>
            </p>
        </f:then>
        <f:else>
            <f:translate key="error.{error}" extensionName="cs_seo" />
        </f:else>
    </f:if>
</f:section>
</div>