<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Wizard" />

<f:section name="Main">
    <f:if condition="{data}">
        <f:then>
            <f:render partial="Wizard/Meter" arguments="{_all}"/>
            <div class="tx-cs_seo-wizard-item">
                <f:render partial="Wizard/GooglePreview" arguments="{_all}"/>
            </div>
        </f:then>
        <f:else>
            <f:translate key="error.{error}" extensionName="cs_seo" />
        </f:else>
    </f:if>
</f:section>
