<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<f:be.menus.actionMenu>
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageMeta', extensionName: 'cs_seo')}" action="pageMeta" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageIndex', extensionName: 'cs_seo')}" action="pageIndex" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageOpenGraph', extensionName: 'cs_seo')}" action="pageOpenGraph" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageTwitterCards', extensionName: 'cs_seo')}" action="pageTwitterCards" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageStructuredData', extensionName: 'cs_seo')}" action="pageStructuredData" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageResults', extensionName: 'cs_seo')}" action="pageResults" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageEvaluation', extensionName: 'cs_seo')}" action="pageEvaluation" controller="Module" />
	</f:be.menus.actionMenu>
</f:section>
</body>
