<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<f:be.menus.actionMenu>
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageMeta')}" action="pageMeta" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageIndex')}" action="pageIndex" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageOpenGraph')}" action="pageOpenGraph" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageTwitterCards')}" action="pageTwitterCards" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageStructuredData')}" action="pageStructuredData" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageResults')}" action="pageResults" controller="Module" />
		<f:be.menus.actionMenuItem label="{f:translate(key:'layouts.module.action.pageEvaluation')}" action="pageEvaluation" controller="Module" />
	</f:be.menus.actionMenu>
</f:section>
</body>
