<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<f:asset.script identifier="csSeoPreviewSettings" useNonce="1">
		csSEO.previewSettings = {previewSettings -> f:format.raw()};
	</f:asset.script>
	<div class="tx-cs_seo" ng-init="wizardInit = 1">
        <h3 class="tx-cs_seo-title">{{ previewTitle }}</h3>
		<div class="tx-cs_seo-url">www.domain.de/link</div>
        <span class="tx-cs_seo-desc">{{ pageDescription }}</span>
		<span ng-hide="pageDescription"><f:translate key="LLL:EXT:cs_seo/Resources/Private/Language/locallang_db.xlf:templates.wizard.description" /></span>
	</div>
</f:section>
</body>
