<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<f:if condition="{pageJSON}">
		<f:then>
			<script type="application/javascript">
				csSEOGridOptions = {pageJSON -> f:format.raw()};
			</script>
			<div ng-app="app">
				<div ng-controller="MainCtrl">
					<f:form action="">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="lang"><f:translate key="partials.module.select.lang" /></label>
								<f:form.select
										id="lang"
										options="{languages}"
										class="form-control"
										name="lang"
										additionalAttributes="{onchange:'this.form.submit();'}"
										value="{lang}"
								/>
							</div>
							<div class="form-group col-md-6">
								<label for="depth"><f:translate key="partials.module.select.depth" /></label>
								<f:form.select
										id="depth"
										options="{1: '1', 2:'2', 3:'3', 4: '4', 5: '5'}"
										class="form-control"
										name="depth"
										additionalAttributes="{onchange:'this.form.submit();'}"
										value="{depth}"
								/>
							</div>
						</div>
					</f:form>
					<div id="csSeoGrid" class="grid ag-dark" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-tree-view ui-grid-edit></div>
					<div ng-show="prbHidden">
						<p class="text-info"><span class="fa fa-info-circle">&nbsp;</span><f:translate key="partials.module.grid.hint" /></p>
						<p class="{{msg.class}}">
							<i class="fa {{msg.icon}}" aria-hidden="true"></i>
							{{msg.lastCellEdited}}
						</p>
					</div>

					<div class="edit-view" ng-hide="prbHidden">
						<f:if condition="{wizardView}">
							<div class="tx-cs_seo" ng-init="wizardInit = 1">
								<h3>{{previewTitle}}</h3>
								<div class="url">www.domain.de/link</div>
								{{pageDescription}}
								<span ng-hide="pageDescription"><f:translate key="LLL:EXT:cs_seo/Resources/Private/Language/locallang_db.xlf:templates.wizard.description" /></span>
								</p>
							</div>
						</f:if>
						<uib-progressbar max="prbMax" value="prbValue" type="{{prbType}}"><span style="color:white; white-space:nowrap;">{{prbValue}} / {{prbMax}}</span></uib-progressbar>
					</div>

				</div>
			</div>
		</f:then>
		<f:else>
			<p class="text-danger">
				<f:translate key="partials.module.grid.error.no_page" />
			</p>
		</f:else>
	</f:if>
</f:section>
</body>