<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<div ng-hide="editView">
		<div ng-switch on="msg.state">
			<div ng-switch-when="error">
				<p class="text-danger">
					<core:icon identifier="actions-minus-circle-alt" size="small" />
					<f:translate key="partials.module.state.error" extensionName="cs_seo" />
				</p>
			</div>
			<div ng-switch-when="success">
				<p class="text-success">
					<core:icon identifier="actions-check" size="small" />
					<f:translate key="partials.module.state.success" extensionName="cs_seo" />
				</p>
			</div>
			<div ng-switch-when="no-changes">
				<p class="text-info">
					<core:icon identifier="actions-info-circle" size="small" />
					<f:translate key="partials.module.state.no_changes" extensionName="cs_seo" />
				</p>
			</div>
			<div ng-switch-when="wait">
				<p class="text-warning">
					<core:icon identifier="actions-chevron-double-right" size="small" />
					<f:translate key="partials.module.state.wait" extensionName="cs_seo" />
				</p>
			</div>
			<div ng-switch-default>
				<p class="text-info">
					<core:icon identifier="actions-info-circle" size="small" />
					<f:translate key="partials.module.state.hint" extensionName="cs_seo" />
				</p>
			</div>
		</div>
	</div>
</f:section>
</body>