<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<body>
<f:section name="Main">
	<div class="table-responsive">
		<table class="table table-hover typo3-page-pages">
			<thead>
				<tr>
					<f:for each="{fields}" as="fieldLabel">
						<th><f:translate key="{fieldLabel}" /></th>
					</f:for>
				</tr>
			</thead>
			<tbody>
				<f:render partial="Module/TableRow" arguments="{_all}" section="Main" />
			</tbody>
		</table>
	</div>
</f:section>
</body>