<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="ModuleEvaluation" />

<f:section name="Main">
    <h1><f:translate key="layouts.module.action.pageEvaluation" /></h1>
    <p></p>
    <!-- From -->
    <f:render partial="Module/FormEvaluation" arguments="{_all}" section="Main" />
    <f:if condition="{langDisplay}">
        <f:translate key="partials.module.evaluation.lang" /> {langDisplay}
    </f:if>
    <f:if condition="{page}">
        <f:then>
            <div class="cs-seo-results">
                <f:if condition="{results}">
                    <f:then>
                        <div class="header">
                            <f:render partial="Results/Percentage" arguments="{result:score}" section="Main"/>
                            <span class="text"><f:translate key="evaluation.header" /></span>
                            <f:render section="Button" arguments="{_all}" />
                            <f:render partial="Results/Bar" arguments="{result:score}" section="Main"/>
                        </div>
                        <div class="results">
                            <ul>
                                <f:for each="{results}" as="result" key="key">
                                    <f:render partial="Results/{key}" arguments="{result:result}" section="Main"/>
                                </f:for>
                            </ul>
                        </div>
                        <div class="results-detail">
                            <f:render partial="Results/Detail/Intro" arguments="{_all}" />
                            <f:for each="{results}" as="result" key="key">
                                <div class="detail evaluation-{key -> f:format.case(mode:'lower')} csseo-state-{result.state}">
                                    <f:render partial="Results/Detail/{key}" arguments="{_all}" />
                                </div>
                            </f:for>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="header">
                            <span class="score csseo-state-0"><f:translate key="evaluation.no_results"></f:translate></span>
                            <span class="text"><f:translate key="evaluation.header" /></span>
                            <f:render section="Button" arguments="{_all}" />
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:then>
    </f:if>
</f:section>

<f:section name="Button">
    <button id="cs-seo-evaluate"
            data-uid="{f:if(condition:record,then:record,else:page.uid)}"
            data-table="{table}"
            class="csseo-icon-arrows-cw">
        <f:translate key="evaluation.update" />
    </button>
</f:section>
</div>